<header>
    <span>{{ title }} app is running!</span>
</header>

<section class="toolbar">
    <div class="toolbar__header">
        <h2>Main menu</h2>
    </div>
    <div class="toolbar__links">
        <a href="" routerLink="">
            <span>Home</span>
        </a>
        <a href="" routerLink="/reports">
            <span>Reports</span>
        </a>
    </div>
</section>

<div class="main-container">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

